<section class="section">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class="swiper__img" src="./images/desk/gallery/1@1.png" alt="" />
        <div class="slider">
            <img class="slider__img" src="./images/desk/gallery/1@1.png" alt="" />
            <img class="slider__img" src="./images/desk/gallery/2@1.png" alt="" />
          </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper__img" src="./images/desk/gallery/2@1.png" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="swiper__img" src="./images/desk/gallery/3@1.png" alt="" />
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
