<header class="page-header">
    <div class="container">
        <nav class="nav">
            <a class="nav-logo" href="./index.html">
                <img class="nav-icon" src="./images/Logo.png" alt="Logo" width="76" height="76">
                </img>
            </a>
            <button class="btn-menu" type="button" aria-controls="menu-container" aria-expanded="false"
                data-menu-button>
                <svg width="40" height="40" aria-label="Переключатель мобильного меню ">
                    <use class="cross" href="./images/svg/icon.svg#icon-icon-cross"></use>
                    <use class="burger" href="./images/svg/icon.svg#icon-icon-burger"></use>
                </svg>
            </button>
            <div class="nav-menu" id="menu-container" data-menu>
                <a href="./index.html" class="nav__link active"><img class="nav-icon" src="./images/Logo.png" alt="Logo"
                        width="76" height="76">
                    </img></a>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link">О нас</a>
                    </li>
                    <li class="nav__item"><a href="" class="nav__link">Перимущества</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Услуги</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Галерея</a></li>
                </ul>

                <div class="contact">
                    <a class="contact-link" href="">
                        <svg class="contact-icon icon-svg" width="24" height="24">
                            <use href="./icons.svg#icon-icon-phone"></use>
                        </svg> (097) 116-11-66
                    </a>
                    <ul class="nav-social__list">
                        <li class="nav-social__item"><a class="nav-social__link" href=""><svg class="social-icon"
                                    width="40" height="40">
                                    <use href="./icons.svg#icon-icon-instagram" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-social__item"><a class="nav-social__link" href=""><svg class="social-icon"
                                    width="40" height="40">
                                    <use href="./icons.svg#icon-icon-telegram" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>