@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.43;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  padding: 20px 0;
  @media screen and(min-width:768px) and(max-width:1199px) {
    padding: 30px 0;
  }
  @media screen and(min-width:1200px) {
    padding: 40px 0;
  }
}
.container {
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (min-width: 480px) {
    // width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.title {
  @extend %font-title;
  text-align: center;
  margin-bottom: 20px;
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 32px;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 52px;
  }

  color: $second-text-color;
}
.title__sub {
  @extend %font-subTitle;
}
