<footer class="footer" id="footer">
  <div class="container">
    <h2 class="footer__title">Наши контакты</h2>
    <div class="footer__wrapper">
      <a href="" class="footer__logoLink link">
        <picture>
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./images/tab/footer/logo@1.png 135w,
              ./images/tab/footer/logo@2.png 270w,
              ./images/tab/footer/logo@3.png 405w
            "
            sizes="(min-width:1200px ) 76px,100vw"
          />
          <source
            media="(min-width:1200px )"
            srcset="
              ./images/desk/footer/logo@1.png 191w,
              ./images/desk/footer/logo@2.png 382w,
              ./images/desk/footer/logo@3.png 573w
            "
            sizes="(min-width:1200px ) 129px,100vw"
          />
          <img
            class="footer__logo"
            src="./images/desk/footer/logo@1.png"
            alt="Логотип"
          />
        </picture>
      </a>
      <ul class="footer__contactsList list">
        <li class="footer__contactItem">
          <a
            class="footer__contactLink link"
            href="https://goo.gl/maps/t1ZJ5mSwTM3cmxrp9"
            target="_blank"
          >
            <svg class="footer__contactSvg footer__contactSvg--first">
              <use href="./images/svg/symbol-defs.svg#mark" />
            </svg>
            Украина, г. Харьков, Елизаветинская, 3
          </a>
        </li>
        <li class="footer__contactItem">
          <a class="footer__contactLink link" href="tel:0971161166">
            <svg class="footer__contactSvg footer__contactSvg--second">
              <use href="./images/svg/symbol-defs.svg#tel" />
            </svg>
            (097) 116-11-66
          </a>
        </li>
        <li class="footer__contactItem">
          <svg class="footer__contactSvg footer__contactSvg--third">
            <use href="./images/svg/symbol-defs.svg#workTime" />
          </svg>
          Пн. - Пт.: 8:00 - 18:00 Сб. - Вс.: 8:00 - 15:00
        </li>
      </ul>
      <ul class="contact list">
        <li class="contact__item">
          <a
            class="contact__link link"
            href="https://t.me/steklaremont"
            target="_blank"
          >
            <img
              class="contact__icon"
              src="./images/svg/telegram.svg"
              alt=""
              width="32"
              height="32"
              type="xml/svg"
            />
          </a>
        </li>
        <li class="contact__item">
          <a
            class="contact__link link"
            href="https://instagram.com/stekloremont.kh?igshid=MWI4MTIyMDE="
            target="_blank"
          >
            <img
              class="contact__icon"
              src="./images/svg/instagram.svg"
              alt=""
              width="32"
              height="32"
              type="xml/svg"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- <div class="footer__wrapper">
  <a class="footer__phone link footer__phone--mob" href="tel:0971161166">
    <svg class="footer__phone--svg" width="19" height="19">
      <use href="./images/svg/symbol-defs.svg#phone" />
    </svg>
    (097)116-11-66
  </a>
  <span class="footer__address">Украина, г. Харьков</span>
  <a class="footer__logoLink link" href="./index.html">
    <picture>
      <source
        media="(min-width:768px) and (max-width:1199px)"
        srcset="
          ./images/tab/footer/logo@1.png 135w,
          ./images/tab/footer/logo@2.png 270w,
          ./images/tab/footer/logo@3.png 405w
        "
        sizes="(min-width:1200px ) 76px,100vw"
      />
      <source
        media="(min-width:1200px )"
        srcset="
          ./images/desk/footer/logoFooter@1.png 191w,
          ./images/desk/footer/logoFooter@2.png 382w,
          ./images/desk/footer/logoFooter@3.png 573w
        "
        sizes="(min-width:1200px ) 129px,100vw"
      />
      <img
        class="footer__logo"
        src="./images/desk/footer/logoFooter@1.png"
        alt="Логотип"
      /> </picture
  ></a>
  <ul class="contact list">
    <li class="contact__item">
      <a
        class="contact__link link"
        href="https://t.me/steklaremont"
        target="_blank"
      >
        <img
          class="contact__icon"
          src="./images/svg/telegram.svg"
          alt=""
          width="32"
          height="32"
          type="xml/svg"
        />
      </a>
    </li>
    <li class="contact__item">
      <a
        class="contact__link link"
        href="https://instagram.com/stekloremont.kh?igshid=MWI4MTIyMDE="
        target="_blank"
      >
        <img
          class="contact__icon"
          src="./images/svg/instagram.svg"
          alt=""
          width="32"
          height="32"
          type="xml/svg"
        />
      </a>
    </li>
  </ul>
  <a
    class="footer__phone link footer__phone--desktop"
    href="tel:0971161166"
  >
    <svg class="footer__phone--svg" width="19" height="19">
      <use href="./images/svg/symbol-defs.svg#phone" />
    </svg>
    (097)116-11-66
  </a>
</div> -->
