.about {
  &__subTitle {
    @extend %font-pimaryText;
    color: $primary-text-color;
    font-weight: 400;
    letter-spacing: 0;
    @media screen and(max-width:767px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
      margin: 0 82px;
    }
    @media screen and(min-width:1200px) {
      margin: 0 99px;
    }

    &:first-of-type {
      margin-bottom: 12px;
    }
  }
}
