<section class="section services" id="services">
  <div class="container">
    <h2 class="title">Услуги</h2>
    <ul class="services__list list">
      <li class="services__item">
        <div class="services__wrapper">
          <picture>
            <source
              media="(max-width:1199px )"
              srcset="
                ./images/mob/services/steklopak@1.png 252w,
                ./images/mob/services/steklopak@2.png 504w,
                ./images/mob/services/steklopak@3.png 768w
              "
              sizes="(max-width:1199px ) 252px,100vw"
            />
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/desk/services/steklopak@1.png 259w,
                ./images/desk/services/steklopak@2.png 518w,
                ./images/desk/services/steklopak@3.png 777w
              "
              sizes="(min-width:1200px ) 259px,100vw"
            />
            <img
              class="services__img"
              src="./images/desk/services/steklopak@1.png"
              alt="Замена разбитых стеклопакетов"
            />
          </picture>
          <div class="services__container">
            <h3 class="services__title title__sub">
              Замена разбитых стеклопакетов
            </h3>
            <p class="services__descr">
              Заменим разбитый стеклопакет в пластиковом окне. Подберем такой
              же, как у вас был установлен. Так же можем поменять однокамерный
              стеклопакет на двухкамерный, с энергосбережением.
            </p>
          </div>
        </div>
        <p class="services__price">
          Цена от <span class="services__price--blue">950 грн/м2</span>
        </p>
      </li>

      <li class="services__item">
        <div class="services__wrapper">
          <picture>
            <source
              media="(max-width:1199px )"
              srcset="
                ./images/mob/services/steklo@1.png 252w,
                ./images/mob/services/steklo@2.png 504w,
                ./images/mob/services/steklo@3.png 768w
              "
              sizes="(max-width:1199px ) 252px,100vw"
            />
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/desk/services/steklo@1.png 259w,
                ./images/desk/services/steklo@2.png 518w,
                ./images/desk/services/steklo@3.png 777w
              "
              sizes="(min-width:1200px ) 259px,100vw"
            />
            <img
              class="services__img"
              src="./images/desk/services/steklo@1.png"
              alt="Замена стекол в деревянных рамах"
            />
          </picture>
          <div class="services__container">
            <h3 class="services__title title__sub">
              Замена стекол в деревянных рамах
            </h3>
            <p class="services__descr">
              Если у вас разбилось стекло в деревянном окне, это тоже не
              проблема, мы сделаем замену стекла на новые стекла толщиной 4мм и
              восстановим ваше окно.
            </p>
          </div>
        </div>
        <p class="services__price">
          Цена от <span class="services__price--blue">750 грн/м2</span>
        </p>
      </li>

      <li class="services__item">
        <div class="services__wrapper">
          <picture>
            <source
              media="(max-width:1199px )"
              srcset="
                ./images/mob/services/osb@1.png 252w,
                ./images/mob/services/osb@2.png 504w,
                ./images/mob/services/osb@3.png 768w
              "
              sizes="(max-width:1199px ) 252px,100vw"
            />
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/desk/services/osb@1.png 259w,
                ./images/desk/services/osb@2.png 518w,
                ./images/desk/services/osb@3.png 777w
              "
              sizes="(min-width:1200px ) 259px,100vw"
            />
            <img
              class="services__img"
              src="./images/desk/services/osb@1.png"
              alt="Зашивка разбитых окон и дверей влагостойким ОСБ"
            />
          </picture>
          <div class="services__container">
            <h3 class="services__title title__sub">
              Зашивка разбитых окон и дверей влагостойким ОСБ
            </h3>
            <p class="services__descr">
              Мы устанавливаем влагостойкий ОСБ, толщиной 10мм, делаем
              исключительно не повреждая конструкцию рамы, аккуратно вынимая
              стекло или стеклопакет и вставляем вместо него лист ОСБ, не
              оставляя даже минимальных щелей.
            </p>
          </div>
        </div>
        <p class="services__price">
          Цена от <span class="services__price--blue">350 грн/м2</span>
        </p>
      </li>

      <li class="services__item">
        <div class="services__wrapper">
          <picture>
            <source
              media="(max-width:1199px )"
              srcset="
                ./images/mob/services/indv@1.png 252w,
                ./images/mob/services/indv@2.png 504w,
                ./images/mob/services/indv@3.png 768w
              "
              sizes="(max-width:1199px ) 252px,100vw"
            />
            <source
              media="(min-width:1200px )"
              srcset="
                ./images/desk/services/indv@1.png 259w,
                ./images/desk/services/indv@2.png 518w,
                ./images/desk/services/indv@3.png 777w
              "
              sizes="(min-width:1200px ) 259px,100vw"
            />
            <img
              class="services__img"
              src="./images/desk/services/indv@1.png"
              alt="Установка новых окон от простых до эксклюзивных"
            />
          </picture>

          <div class="services__container">
            <h3 class="services__title title__sub">
              Установка новых окон от простых до эксклюзивных
            </h3>
            <p class="services__descr">
              Мы используем надежные и проверенные профили ведущих марок WDS,
              REHAU, VEKA, KOMMERLING . На выбор клиентов предоставляем
              несколько вариантов фурнитуры. Мастер озвучит вам все преимущества
              каждого варианта и поможет выбрать самый оптимальный на ваш
              бюджет.
            </p>
          </div>
        </div>
        <p class="services__price">
          Цена просчитывается
          <span class="services__price--blue">индивидуально</span>
        </p>
      </li>
    </ul>
  </div>
</section>
