<section class="section about" id="about">
  <div class="container">
    <h2 class="title about__title">О нас</h2>
    <p class="title__sub about__subTitle">
      Мы занимаемся любым ремонтом окон от А до Я, как деревянных так и
      пластиковых. Замена стекол и стеклопакетов. Установка новых окон. Зашивка
      ОСБ.
    </p>
    <p class="title__sub about__subTitle">
      Работаем без выходных, без предоплаты, стараемся делать максимально
      оперативно и держать минимальную цену по городу, без ущерба качеству.
    </p>
  </div>
</section>
