.swiper {
  @media screen and(max-width:767px) {
    width: 100%;
  }
}
.swiper-button-prev {
  right: -50px;
  color: black;
}
.swiper__img {
  margin: 0 auto;

  margin-bottom: 20px;
  @media screen and(max-width:767px) {
    width: 275px;
  }
}

.slider {
  display: block;
  margin: 0 auto;
  &__img {
    @media screen and(max-width:767px) {
      width: 148px;
    }
  }
}
