.swiper {
  padding-bottom: 30px;

    width: 100%;

}

.swiper__img {
  margin: 0 auto;
  border-radius: 20px;
  @media screen and(max-width:767px) {
    width: 302px;
    height: 310px;
    margin-bottom: 20px;
  }
  @media screen and(min-width:767px) and(max-width:1199px) {
    width: 648px;
    height: 500px;
    margin-bottom: 32px;
  }
  @media screen and(min-width:1200px) {
    width: 972px;
    height: 657px;
    margin-bottom: 40px;
  }
}


