.footer {
  background-color: $primary-bgc;
  padding: 37px 0 20px 0;
  @media screen and(min-width:768px) {
    padding: 40px 0;
  }

  &__title {
    @extend %font-footerTitle;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:767px) {
      flex-direction: column;
    }
  }
  &__logoLink {
  }

  &__logo {
    width: 66px;
    height: 66px;
    @media screen and(min-width:768px) {
      width: 135px;
      height: 135px;
    }
    @media screen and(min-width:1200px) {
      width: 191px;
      height: 191px;
    }
  }
  &__contactsList {
  }

  &__contactItem {
    @extend %font-benefits;
  }
  &__contactLink {
    width: 246px;
    text-align: center;
  }
  &__contactSvg {
    &--first {
      width: 20px;
      height: 24px;
      margin-right: 26px;
      @media screen and(min-width:768px) {
        width: 25px;
        height: 30px;
        margin-right: 28px;
      }
      @media screen and(min-width:1200px) {
        width: 34px;
        height: 40px;
        margin-right: 29;
      }
    }
    &--second {
      width: 22px;
      height: 22px;
      margin-right: 25px;
      @media screen and(min-width:768px) {
        width: 28px;
        height: 28px;
        margin-right: 26px;
      }
      @media screen and(min-width:1200px) {
        width: 36px;
        height: 36px;
        margin-right: 28px;
      }
    }
    &--third {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 24px;
      @media screen and(min-width:768px) {
        width: 28px;
        height: 28px;
        margin-right: 26px;
      }
      @media screen and(min-width:1200px) {
        width: 37px;
        height: 37px;
        margin-right: 28px;
      }
    }
  }
}

.contact {
  display: inline-flex;
  @media screen and(max-width:767px) {
    margin-top: 20px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-left: 75px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 108px;
  }
  &__item {
    @media screen and(max-width:767px) {
      & + & {
        margin-left: 23px;
      }
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
      & + & {
        margin-left: 18px;
      }
    }
    @media screen and(min-width:1200px) {
      & + & {
        margin-left: 40px;
      }
    }
  }

  &__icon {
    widows: 32px;
    height: 32px;
  }
}
