<section class="section benefits">
  <div class="container">
    <h2 class="title benefits__title">Преимущества</h2>
    <ul class="list benefits__list">
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/svg/symbol-defs.svg#time" />
        </svg>
        Качество и оперативность
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/svg/symbol-defs.svg#pig" />
        </svg>
        Cамые выгодные цены
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/svg/symbol-defs.svg#check" />
        </svg>
        Профессионализм с опытом более 5 лет
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./images/svg/symbol-defs.svg#cert" />
        </svg>
        Гарантия на оказание услуги
      </li>
    </ul>
  </div>
</section>
