.social {
  display: flex;
  @media screen and(max-width:1199px) {
    margin-top: 49px;
  }
  @media screen and(max-width:767px) {
    margin-top: 43px;
  }

  &__item {
    @media screen and(max-width:767px) {
      & + & {
        margin-left: 20px;
      }
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
      & + & {
        margin-left: 24px;
      }
    }
    @media screen and(min-width:1200px) {
      margin-left: 94px;
    }
    &--desk {
      @media screen and(min-width:1200px) {
        display: none;
      }
    }
  }

  &__icon {
    @media screen and(max-width:1199px) {
      width: 40px;
      height: 40px;
    }
  }
}
